@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

.flexDalis{
  display: flex;
  flex-wrap: wrap;
}

.article{
  height: 300px;
  background-color: antiquewhite;
}

.article:nth-child(4n+1),
.article:nth-child(4n+4){
  width: 40%;
}
.article:nth-child(4n+2),
.article:nth-child(4n+3){
  width: 60%;
}